body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1030px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:44px;
  top:492px;
  width:454px;
  height:222px;
}
#u836 {
  position:absolute;
  left:2px;
  top:103px;
  width:450px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  position:absolute;
  left:541px;
  top:492px;
  width:474px;
  height:222px;
}
#u838 {
  position:absolute;
  left:2px;
  top:103px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:657px;
  height:356px;
}
#u839 {
  position:absolute;
  left:48px;
  top:119px;
  width:647px;
  height:346px;
}
#u840 {
  position:absolute;
  left:2px;
  top:165px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u841 {
  position:absolute;
  left:59px;
  top:34px;
  width:167px;
  height:39px;
}
#u842 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u843 {
  position:absolute;
  left:470px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u844 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u845 {
  position:absolute;
  left:590px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u846 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u847 {
  position:absolute;
  left:724px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u848 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u849 {
  position:absolute;
  left:854px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u850 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u851 {
  position:absolute;
  left:226px;
  top:36px;
  width:1px;
  height:36px;
}
#u852 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u853 {
  position:absolute;
  left:237px;
  top:46px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:2px;
}
#u855 {
  position:absolute;
  left:44px;
  top:82px;
  width:971px;
  height:1px;
}
#u856 {
  position:absolute;
  left:2px;
  top:-8px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:346px;
}
#u857 {
  position:absolute;
  left:48px;
  top:119px;
  width:647px;
  height:346px;
}
#u858 {
  position:absolute;
  left:2px;
  top:165px;
  width:643px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u859 {
  position:absolute;
  left:328px;
  top:436px;
  width:14px;
  height:14px;
}
#u860 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u861 {
  position:absolute;
  left:345px;
  top:436px;
  width:14px;
  height:14px;
}
#u862 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u863 {
  position:absolute;
  left:363px;
  top:436px;
  width:14px;
  height:14px;
}
#u864 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u865 {
  position:absolute;
  left:74px;
  top:505px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u867 {
  position:absolute;
  left:56px;
  top:503px;
  width:12px;
  height:24px;
}
#u868 {
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u869 {
  position:absolute;
  left:575px;
  top:505px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u871 {
  position:absolute;
  left:54px;
  top:561px;
  width:405px;
  height:135px;
  font-size:12px;
}
#u872 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u873 {
  position:absolute;
  left:553px;
  top:561px;
  width:403px;
  height:135px;
  font-size:12px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:24px;
}
#u875 {
  position:absolute;
  left:557px;
  top:503px;
  width:12px;
  height:24px;
}
#u876 {
  position:absolute;
  left:2px;
  top:4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u877 {
  position:absolute;
  left:705px;
  top:119px;
  width:310px;
  height:346px;
}
#u878 {
  position:absolute;
  left:2px;
  top:165px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u879 {
  position:absolute;
  left:812px;
  top:153px;
  width:93px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u881 {
  position:absolute;
  left:803px;
  top:184px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u883 {
  position:absolute;
  left:878px;
  top:384px;
  width:99px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:35px;
}
#u885 {
  position:absolute;
  left:752px;
  top:384px;
  width:99px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:724px;
  top:249px;
  width:271px;
  height:48px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:277px;
  background:inherit;
  background-color:rgba(107, 107, 107, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u889 {
  position:absolute;
  left:30px;
  top:745px;
  width:1000px;
  height:277px;
}
#u890 {
  position:absolute;
  left:2px;
  top:130px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u891 {
  position:absolute;
  left:80px;
  top:800px;
  width:128px;
  height:128px;
}
#u892 {
  position:absolute;
  left:2px;
  top:56px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u893 {
  position:absolute;
  left:832px;
  top:800px;
  width:169px;
  height:80px;
  color:#FFFFFF;
  line-height:20px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F2F2F2;
}
#u895 {
  position:absolute;
  left:86px;
  top:938px;
  width:118px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F2F2F2;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u897 {
  position:absolute;
  left:340px;
  top:798px;
  width:394px;
  height:100px;
  color:#FFFFFF;
  line-height:20px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u899 {
  position:absolute;
  left:254px;
  top:942px;
  width:565px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:2px;
}
#u901 {
  position:absolute;
  left:254px;
  top:938px;
  width:565px;
  height:1px;
}
#u902 {
  position:absolute;
  left:2px;
  top:-8px;
  width:561px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F2F2F2;
}
#u903 {
  position:absolute;
  left:836px;
  top:893px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F2F2F2;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u905 {
  position:absolute;
  left:893px;
  top:890px;
  width:1px;
  height:19px;
}
#u906 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F2F2F2;
}
#u907 {
  position:absolute;
  left:899px;
  top:893px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#F2F2F2;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:542px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:29px;
  top:-8px;
  width:1001px;
  height:542px;
}
#u910 {
  position:absolute;
  left:2px;
  top:263px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:234px;
  background:inherit;
  background-color:rgba(249, 253, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u911 {
  position:absolute;
  left:328px;
  top:115px;
  width:420px;
  height:234px;
}
#u912 {
  position:absolute;
  left:2px;
  top:109px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u913 {
  position:absolute;
  left:373px;
  top:187px;
  width:337px;
  height:48px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u915_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:430px;
  height:245px;
}
#u915 {
  position:absolute;
  left:328px;
  top:114px;
  width:420px;
  height:235px;
}
#u916 {
  position:absolute;
  left:2px;
  top:110px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u917 {
  position:absolute;
  left:412px;
  top:273px;
  width:100px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u917_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u917.mouseOver {
}
#u917_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u917.mouseDown {
}
#u918 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u919 {
  position:absolute;
  left:704px;
  top:135px;
  width:20px;
  height:20px;
}
#u919_img.mouseOver {
  left:-2px;
  top:-2px;
  width:26px;
  height:26px;
}
#u919.mouseOver {
}
#u919_img.mouseDown {
}
#u919.mouseDown {
}
#u920 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u921 {
  position:absolute;
  left:563px;
  top:273px;
  width:100px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u921_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u921.mouseOver {
}
#u921_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u921.mouseDown {
}
#u922 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
