
.ui-jqgrid .ui-jqgrid-view {
    z-index: auto;
}
.ui-jqgrid .ui-jqgrid-view,
.ui-jqgrid .ui-paging-info,
.ui-jqgrid .ui-pg-table,
.ui-jqgrid .ui-pg-selbox {
    font-size: 13px;
}
.ui-jqgrid .ui-jqgrid-title {
    float: left;
    margin: 8px;
}
.ui-jqgrid .ui-jqgrid-title-rtl {
    float: right;
    margin: 8px;
}
.ui-jqgrid-view > .ui-jqgrid-titlebar {
    height: 40px;
    line-height: 24px;
    color: #FFF;
    background: #307ECC;
    padding: 0;
    font-size: 15px;
}
.ui-jqgrid tr.jqgrow.ui-row-rtl td:last-child {
    border-right: none;
    border-left: 1px solid #E1E1E1;
}
.ui-jqgrid .ui-jqgrid-hdiv {
    background-color: #EFF3F8;
    border: 1px solid #D3D3D3;
    border-width: 1px 0 0 1px;
    line-height: 15px;
    font-weight: bold;
    color: #777;
    text-shadow: none;
}
.ui-jqgrid .ui-jqgrid-htable thead {
    background-color: #EFF3F8;
}
.ui-jqgrid .ui-jqgrid-htable th span.ui-jqgrid-resize {
    height: 45px !important;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    padding-top: 12px;
    padding-bottom: 12px;
}
.ui-jqgrid-hdiv .ui-jqgrid-htable {
    border-top: none;
}
.ui-jqgrid-hdiv .ui-jqgrid-htable {
    border-top: 1px solid #E1E1E1;
}
.ui-jqgrid-titlebar {
    position: relative;
    top: 1px;
    z-index: 1;
}
.ui-jqgrid tr.jqgrow,
.ui-jqgrid tr.ui-row-ltr,
.ui-jqgrid tr.ui-row-rtl {
    border: none;
}
.ui-jqgrid tr.ui-row-ltr td,
.ui-jqgrid tr.ui-row-rtl td {
    border-bottom: 1px solid #E1E1E1;
    padding: 6px 4px;
    border-color: #E1E1E1;
}
.ui-jqgrid tr.ui-state-highlight.ui-row-ltr td {
    border-right-color: #C7D3A9;
}
.ui-jqgrid tr.ui-state-highlight.ui-row-rtl td {
    border-left-color: #C7D3A9;
}
.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
    background-image: none;
    background-color: #F9F9F9;
    opacity: 1;
}
.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
    background-image: none;
    background-color: #EFF4F7;
    opacity: 1;
}
.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
    background-color: #E4EFC9;
}
.ui-jqgrid .ui-jqgrid-pager {
    line-height: 15px;
    height: 55px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #EFF3F8 !important;
    border-bottom: 1px solid #E1E1E1 !important;
    border-top: 1px solid #E1E1E1 !important;
}
.ui-jqgrid .ui-pg-input {
    font-size: inherit;
    width: 24px;
    height: 20px;
    line-height: 16px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}
.ui-jqgrid .ui-pg-selbox {
    display: block;
    height: 24px;
    width: 60px;
    margin: 0;
    padding: 1px;
    line-height: normal;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: visible;
}
.ui-jqgrid .ui-pager-control {
    height: 50px;
    position: relative;
    padding-left: 9px;
    padding-right: 9px;
}
.ui-jqgrid .ui-jqgrid-toppager {
    height: auto !important;
    background-color: #EFF3F8;
    border-bottom: 1px solid #E1E1E1 !important;
}
.ui-jqgrid .jqgrow .editable {
    max-width: 90%;
    max-width: calc(92%) !important;
}
.ui-pg-table .navtable .ui-corner-all {
    border-radius: 0;
}
.ui-jqgrid .ui-pg-button .ui-separator {
    margin-left: 4px;
    margin-right: 4px;
    border-color: #C9D4DB;
}
.ui-jqgrid .ui-jqgrid-btable {
    border-left: 1px solid #E1E1E1;
}
.ui-jqgrid .ui-jqgrid-bdiv {
    border-top: 1px solid #E1E1E1;
    overflow-x: hidden;
}
.ui-jqgrid .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    width: auto;
    height: auto;
    z-index: 111;
    padding: 6px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    background-color: #FFF;
    border: 2px solid #8EB8D1;
    color: #E2B018;
}
.ui-jqgrid .ui-search-toolbar {
    border-top: 1px solid #E1E1E1;
}
.ui-jqgrid .ui-jqgrid-labels {
    border-bottom: none;
    background: #F2F2F2;
    background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #ECECEC 100%);
    background-image: -o-linear-gradient(top, #F8F8F8 0%, #ECECEC 100%);
    background-image: linear-gradient(to bottom, #F8F8F8 0%, #ECECEC 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffececec', GradientType=0);
    padding: 0 !important;
    border-left: 1px solid #E1E1E1 !important;
}
.ui-jqgrid .ui-jqgrid-labels th {
    border-right: 1px solid #E1E1E1 !important;
    text-align: left !important;
}
/* checkbox container */
.ui-jqgrid-labels th[id*="_cb"]:first-child > div {
    padding-top: 0;
    text-align: center !important;
}
.ui-jqgrid-sortable {
    padding-left: 4px;
    font-size: 13px;
    color: #777;
    font-weight: bold;
}
.ui-jqgrid-sortable:hover {
    color: #547EA8;
}
th[aria-selected=true] {
    background-image: -webkit-linear-gradient(top, #EFF3F8 0%, #E3E7ED 100%);
    background-image: -o-linear-gradient(top, #EFF3F8 0%, #E3E7ED 100%);
    background-image: linear-gradient(to bottom, #EFF3F8 0%, #E3E7ED 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeff3f8', endColorstr='#ffe3e7ed', GradientType=0);
}
th[aria-selected=true] .ui-jqgrid-sortable {
    color: #307ECC;
}
.ui-jqgrid .ui-icon {
    text-indent: 0;
    color: #307ECC;
    float: none;
    right: 2px;
}
.rtl .ui-jqgrid .ui-icon {
    right: auto;
    left: 2px;
}
.ui-jqgrid .ui-icon.ui-state-disabled {
    color: #BBB;
}
.ui-jqgrid .ui-icon.ui-state-disabled:hover {
    padding: 0;
}
