body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1160px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:486px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2011 {
  position:absolute;
  left:44px;
  top:143px;
  width:971px;
  height:486px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:235px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013 {
  position:absolute;
  left:45px;
  top:143px;
  width:1120px;
  height:133px;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2015 {
  position:absolute;
  left:2px;
  top:10px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u2016 {
  position:absolute;
  left:26px;
  top:0px;
  width:45px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2017 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u2018 {
  position:absolute;
  left:71px;
  top:0px;
  width:58px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2019 {
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u2020 {
  position:absolute;
  left:129px;
  top:0px;
  width:62px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2021 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
}
#u2022 {
  position:absolute;
  left:191px;
  top:0px;
  width:57px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2023 {
  position:absolute;
  left:2px;
  top:10px;
  width:53px;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2024 {
  position:absolute;
  left:248px;
  top:0px;
  width:61px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2025 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u2026 {
  position:absolute;
  left:309px;
  top:0px;
  width:58px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2027 {
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2028 {
  position:absolute;
  left:367px;
  top:0px;
  width:64px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2029 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2030 {
  position:absolute;
  left:431px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u2032 {
  position:absolute;
  left:491px;
  top:0px;
  width:60px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2033 {
  position:absolute;
  left:2px;
  top:10px;
  width:56px;
  word-wrap:break-word;
}
#u2034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:36px;
}
#u2034 {
  position:absolute;
  left:551px;
  top:0px;
  width:58px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2035 {
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u2036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:36px;
}
#u2036 {
  position:absolute;
  left:609px;
  top:0px;
  width:83px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2037 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u2038 {
  position:absolute;
  left:692px;
  top:0px;
  width:64px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2039 {
  position:absolute;
  left:2px;
  top:10px;
  width:60px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:36px;
}
#u2040 {
  position:absolute;
  left:756px;
  top:0px;
  width:66px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2041 {
  position:absolute;
  left:2px;
  top:10px;
  width:62px;
  word-wrap:break-word;
}
#u2042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:36px;
}
#u2042 {
  position:absolute;
  left:822px;
  top:0px;
  width:59px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2043 {
  position:absolute;
  left:2px;
  top:10px;
  width:55px;
  word-wrap:break-word;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u2044 {
  position:absolute;
  left:881px;
  top:0px;
  width:61px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2045 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u2046 {
  position:absolute;
  left:942px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2047 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u2048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:36px;
}
#u2048 {
  position:absolute;
  left:1009px;
  top:0px;
  width:56px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2049 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u2050 {
  position:absolute;
  left:1065px;
  top:0px;
  width:50px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2051 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:36px;
  width:26px;
  height:29px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:29px;
}
#u2054 {
  position:absolute;
  left:26px;
  top:36px;
  width:45px;
  height:29px;
}
#u2055 {
  position:absolute;
  left:2px;
  top:6px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
}
#u2056 {
  position:absolute;
  left:71px;
  top:36px;
  width:58px;
  height:29px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:29px;
}
#u2058 {
  position:absolute;
  left:129px;
  top:36px;
  width:62px;
  height:29px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
}
#u2060 {
  position:absolute;
  left:191px;
  top:36px;
  width:57px;
  height:29px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u2062 {
  position:absolute;
  left:248px;
  top:36px;
  width:61px;
  height:29px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
}
#u2064 {
  position:absolute;
  left:309px;
  top:36px;
  width:58px;
  height:29px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u2066 {
  position:absolute;
  left:367px;
  top:36px;
  width:64px;
  height:29px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u2068 {
  position:absolute;
  left:431px;
  top:36px;
  width:60px;
  height:29px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:29px;
}
#u2070 {
  position:absolute;
  left:491px;
  top:36px;
  width:60px;
  height:29px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:29px;
}
#u2072 {
  position:absolute;
  left:551px;
  top:36px;
  width:58px;
  height:29px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:29px;
}
#u2074 {
  position:absolute;
  left:609px;
  top:36px;
  width:83px;
  height:29px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:6px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u2076 {
  position:absolute;
  left:692px;
  top:36px;
  width:64px;
  height:29px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:29px;
}
#u2078 {
  position:absolute;
  left:756px;
  top:36px;
  width:66px;
  height:29px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u2080 {
  position:absolute;
  left:822px;
  top:36px;
  width:59px;
  height:29px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:29px;
}
#u2082 {
  position:absolute;
  left:881px;
  top:36px;
  width:61px;
  height:29px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u2084 {
  position:absolute;
  left:942px;
  top:36px;
  width:67px;
  height:29px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:29px;
}
#u2086 {
  position:absolute;
  left:1009px;
  top:36px;
  width:56px;
  height:29px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:6px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u2088 {
  position:absolute;
  left:1065px;
  top:36px;
  width:50px;
  height:29px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:32px;
}
#u2090 {
  position:absolute;
  left:0px;
  top:65px;
  width:26px;
  height:32px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
}
#u2092 {
  position:absolute;
  left:26px;
  top:65px;
  width:45px;
  height:32px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
}
#u2094 {
  position:absolute;
  left:71px;
  top:65px;
  width:58px;
  height:32px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:32px;
}
#u2096 {
  position:absolute;
  left:129px;
  top:65px;
  width:62px;
  height:32px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
}
#u2098 {
  position:absolute;
  left:191px;
  top:65px;
  width:57px;
  height:32px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u2100 {
  position:absolute;
  left:248px;
  top:65px;
  width:61px;
  height:32px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
}
#u2102 {
  position:absolute;
  left:309px;
  top:65px;
  width:58px;
  height:32px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
}
#u2104 {
  position:absolute;
  left:367px;
  top:65px;
  width:64px;
  height:32px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u2106 {
  position:absolute;
  left:431px;
  top:65px;
  width:60px;
  height:32px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u2108 {
  position:absolute;
  left:491px;
  top:65px;
  width:60px;
  height:32px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
}
#u2110 {
  position:absolute;
  left:551px;
  top:65px;
  width:58px;
  height:32px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
}
#u2112 {
  position:absolute;
  left:609px;
  top:65px;
  width:83px;
  height:32px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:32px;
}
#u2114 {
  position:absolute;
  left:692px;
  top:65px;
  width:64px;
  height:32px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
}
#u2116 {
  position:absolute;
  left:756px;
  top:65px;
  width:66px;
  height:32px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u2118 {
  position:absolute;
  left:822px;
  top:65px;
  width:59px;
  height:32px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:32px;
}
#u2120 {
  position:absolute;
  left:881px;
  top:65px;
  width:61px;
  height:32px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:32px;
}
#u2122 {
  position:absolute;
  left:942px;
  top:65px;
  width:67px;
  height:32px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:32px;
}
#u2124 {
  position:absolute;
  left:1009px;
  top:65px;
  width:56px;
  height:32px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u2126 {
  position:absolute;
  left:1065px;
  top:65px;
  width:50px;
  height:32px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:31px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:97px;
  width:26px;
  height:31px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:31px;
}
#u2130 {
  position:absolute;
  left:26px;
  top:97px;
  width:45px;
  height:31px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:8px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:31px;
}
#u2132 {
  position:absolute;
  left:71px;
  top:97px;
  width:58px;
  height:31px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:31px;
}
#u2134 {
  position:absolute;
  left:129px;
  top:97px;
  width:62px;
  height:31px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
}
#u2136 {
  position:absolute;
  left:191px;
  top:97px;
  width:57px;
  height:31px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u2138 {
  position:absolute;
  left:248px;
  top:97px;
  width:61px;
  height:31px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:31px;
}
#u2140 {
  position:absolute;
  left:309px;
  top:97px;
  width:58px;
  height:31px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u2142 {
  position:absolute;
  left:367px;
  top:97px;
  width:64px;
  height:31px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u2144 {
  position:absolute;
  left:431px;
  top:97px;
  width:60px;
  height:31px;
}
#u2145 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:31px;
}
#u2146 {
  position:absolute;
  left:491px;
  top:97px;
  width:60px;
  height:31px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:31px;
}
#u2148 {
  position:absolute;
  left:551px;
  top:97px;
  width:58px;
  height:31px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:8px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:31px;
}
#u2150 {
  position:absolute;
  left:609px;
  top:97px;
  width:83px;
  height:31px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:8px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:31px;
}
#u2152 {
  position:absolute;
  left:692px;
  top:97px;
  width:64px;
  height:31px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:31px;
}
#u2154 {
  position:absolute;
  left:756px;
  top:97px;
  width:66px;
  height:31px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:31px;
}
#u2156 {
  position:absolute;
  left:822px;
  top:97px;
  width:59px;
  height:31px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:31px;
}
#u2158 {
  position:absolute;
  left:881px;
  top:97px;
  width:61px;
  height:31px;
}
#u2159 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:31px;
}
#u2160 {
  position:absolute;
  left:942px;
  top:97px;
  width:67px;
  height:31px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:31px;
}
#u2162 {
  position:absolute;
  left:1009px;
  top:97px;
  width:56px;
  height:31px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:31px;
}
#u2164 {
  position:absolute;
  left:1065px;
  top:97px;
  width:50px;
  height:31px;
}
#u2165 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2166 {
  position:absolute;
  left:633px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2166_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2166.mouseOver {
}
#u2166_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2166.mouseDown {
}
#u2167 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2168 {
  position:absolute;
  left:861px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2168_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2168.mouseOver {
}
#u2168_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2168.mouseDown {
}
#u2169 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2170 {
  position:absolute;
  left:935px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2170_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2170.mouseOver {
}
#u2170_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2170.mouseDown {
}
#u2171 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u2172 {
  position:absolute;
  left:419px;
  top:657px;
  width:11px;
  height:17px;
}
#u2172_img.mouseOver {
  left:-2px;
  top:-2px;
  width:21px;
  height:27px;
}
#u2172.mouseOver {
}
#u2172_img.mouseDown {
}
#u2172.mouseDown {
}
#u2172_img.selected {
}
#u2172.selected {
}
#u2173 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:17px;
}
#u2174 {
  position:absolute;
  left:571px;
  top:657px;
  width:11px;
  height:17px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2174_img.mouseOver {
  left:-2px;
  top:-2px;
  width:21px;
  height:27px;
}
#u2174.mouseOver {
}
#u2174_img.mouseDown {
}
#u2174.mouseDown {
}
#u2175 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2176 {
  position:absolute;
  left:446px;
  top:657px;
  width:16px;
  height:17px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2178 {
  position:absolute;
  left:465px;
  top:657px;
  width:16px;
  height:17px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u2180 {
  position:absolute;
  left:483px;
  top:657px;
  width:16px;
  height:17px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:8px;
}
#u2182 {
  position:absolute;
  left:502px;
  top:657px;
  width:33px;
  height:8px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2183 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  word-wrap:break-word;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:17px;
}
#u2184 {
  position:absolute;
  left:535px;
  top:657px;
  width:26px;
  height:17px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u2186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u2186 {
  position:absolute;
  left:377px;
  top:657px;
  width:32px;
  height:17px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u2188 {
  position:absolute;
  left:592px;
  top:657px;
  width:32px;
  height:17px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u2190 {
  position:absolute;
  left:59px;
  top:34px;
  width:167px;
  height:39px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u2192 {
  position:absolute;
  left:470px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2192_img.mouseOver {
  left:-2px;
  top:-2px;
  width:99px;
  height:50px;
}
#u2192.mouseOver {
}
#u2192_img.mouseDown {
}
#u2192.mouseDown {
}
#u2193 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2194_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:99px;
  height:50px;
}
#u2194 {
  position:absolute;
  left:590px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u2195 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u2196 {
  position:absolute;
  left:724px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2196_img.mouseOver {
  left:-2px;
  top:-2px;
  width:99px;
  height:50px;
}
#u2196.mouseOver {
}
#u2196_img.mouseDown {
}
#u2196.mouseDown {
}
#u2197 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u2198 {
  position:absolute;
  left:854px;
  top:39px;
  width:89px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2198_img.mouseOver {
  left:-2px;
  top:-2px;
  width:99px;
  height:50px;
}
#u2198.mouseOver {
}
#u2198_img.mouseDown {
}
#u2198.mouseDown {
}
#u2199 {
  position:absolute;
  left:2px;
  top:10px;
  width:85px;
  word-wrap:break-word;
}
#u2200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:37px;
}
#u2200 {
  position:absolute;
  left:226px;
  top:36px;
  width:1px;
  height:36px;
}
#u2201 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2202 {
  position:absolute;
  left:237px;
  top:46px;
  width:61px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2203 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:972px;
  height:2px;
}
#u2204 {
  position:absolute;
  left:44px;
  top:82px;
  width:971px;
  height:1px;
}
#u2205 {
  position:absolute;
  left:2px;
  top:-8px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2206 {
  position:absolute;
  left:884px;
  top:8px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2207 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u2208 {
  position:absolute;
  left:923px;
  top:8px;
  width:1px;
  height:16px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2210 {
  position:absolute;
  left:934px;
  top:8px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2212 {
  position:absolute;
  left:91px;
  top:110px;
  width:118px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2214 {
  position:absolute;
  left:785px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2214_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2214.mouseOver {
}
#u2214_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2214.mouseDown {
}
#u2215 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2216 {
  position:absolute;
  left:53px;
  top:151px;
  width:16px;
  height:16px;
}
#u2217 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2218 {
  position:absolute;
  left:53px;
  top:180px;
  width:16px;
  height:16px;
}
#u2219 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2220 {
  position:absolute;
  left:53px;
  top:211px;
  width:16px;
  height:16px;
}
#u2221 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2222 {
  position:absolute;
  left:53px;
  top:243px;
  width:16px;
  height:16px;
}
#u2223 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2224 {
  position:absolute;
  left:709px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2224_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2224.mouseOver {
}
#u2224_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
  background:inherit;
  background-color:rgba(73, 147, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
}
#u2224.mouseDown {
}
#u2225 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:29px;
}
#u2226 {
  position:absolute;
  left:45px;
  top:180px;
  width:1115px;
  height:29px;
}
#u2226_img.mouseOver {
}
#u2226.mouseOver {
}
#u2226_img.mouseDown {
}
#u2226.mouseDown {
}
#u2227 {
  position:absolute;
  left:2px;
  top:6px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:32px;
}
#u2228 {
  position:absolute;
  left:45px;
  top:209px;
  width:1115px;
  height:32px;
}
#u2228_img.mouseOver {
}
#u2228.mouseOver {
}
#u2228_img.mouseDown {
}
#u2228.mouseDown {
}
#u2229 {
  position:absolute;
  left:2px;
  top:8px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:30px;
}
#u2230 {
  position:absolute;
  left:45px;
  top:241px;
  width:1115px;
  height:30px;
}
#u2230_img.mouseOver {
}
#u2230.mouseOver {
}
#u2230_img.mouseDown {
}
#u2230.mouseDown {
}
#u2231 {
  position:absolute;
  left:2px;
  top:7px;
  width:1111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2232 {
  position:absolute;
  left:644px;
  top:657px;
  width:58px;
  height:17px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u2234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u2234 {
  position:absolute;
  left:269px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2234_img.mouseOver {
  width:68px;
  height:34px;
}
#u2234.mouseOver {
}
#u2234_img.mouseDown {
}
#u2234.mouseDown {
}
#u2235 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u2236 {
  position:absolute;
  left:345px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2236_img.mouseOver {
  width:68px;
  height:34px;
}
#u2236.mouseOver {
}
#u2236_img.mouseDown {
}
#u2236.mouseDown {
}
#u2237 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:24px;
}
#u2238 {
  position:absolute;
  left:430px;
  top:106px;
  width:58px;
  height:24px;
  font-size:14px;
}
#u2238_img.mouseOver {
  width:68px;
  height:34px;
}
#u2238.mouseOver {
}
#u2238_img.mouseDown {
}
#u2238.mouseDown {
}
#u2239 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:16px;
}
#u2240 {
  position:absolute;
  left:44px;
  top:613px;
  width:971px;
  height:16px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:0px;
  width:967px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:583px;
  background:inherit;
  background-color:rgba(134, 134, 134, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  position:absolute;
  left:30px;
  top:-8px;
  width:1001px;
  height:583px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:284px;
  width:997px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:183px;
  background:inherit;
  background-color:rgba(249, 253, 253, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2244 {
  position:absolute;
  left:377px;
  top:158px;
  width:324px;
  height:183px;
}
#u2245 {
  position:absolute;
  left:2px;
  top:84px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2246 {
  position:absolute;
  left:507px;
  top:213px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2248_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:334px;
  height:193px;
}
#u2248 {
  position:absolute;
  left:377px;
  top:158px;
  width:324px;
  height:183px;
}
#u2249 {
  position:absolute;
  left:2px;
  top:84px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2250 {
  position:absolute;
  left:497px;
  top:274px;
  width:80px;
  height:32px;
  font-size:16px;
  color:#000000;
}
#u2250_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u2250.mouseOver {
}
#u2250_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:3px 3px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  color:#000000;
}
#u2250.mouseDown {
}
#u2251 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u2252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2252 {
  position:absolute;
  left:655px;
  top:176px;
  width:20px;
  height:20px;
}
#u2252_img.mouseOver {
  left:-2px;
  top:-2px;
  width:26px;
  height:26px;
}
#u2252.mouseOver {
}
#u2252_img.mouseDown {
}
#u2252.mouseDown {
}
#u2253 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
