<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <meta charset="utf-8">
    <title></title>


    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/components/font-awesome/css/font-awesome.css"/>

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/components/_mod/jquery-ui/jquery-ui.css"/>
    <link rel="stylesheet" href="/components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="/components/_mod/jqgrid/ui.jqgrid.css"/>

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/components/_mod/jquery-ui.custom/jquery-ui.custom.css"/>
    <link rel="stylesheet" href="/components/jquery.gritter/css/jquery.gritter.css"/>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap-datetimepicker.min.css">

    <!-- text fonts -->
    <link rel="stylesheet" href="/assets/css/ace-fonts.css"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ace-part2.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/ace-skins.css"/>
    <link rel="stylesheet" href="/assets/css/ace-rtl.css"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/assets/css/ace-ie.css"/>
    <![endif]-->

    <!-- ace settings handler -->
    <script src="/assets/js/ace-extra.js"></script>


    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="/components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/components/respond/dest/respond.min.js"></script>
    <![endif]-->


    <link href="/css/base.css" type="text/css" rel="stylesheet"/>


    <style>
        #main {
            width: 970px;
            height: auto;
            margin: 0 auto;
            color: #FFF;
        }

        #top {
            width: 100%;
            height: auto;
            margin: 0 auto;
            color: #FFF;
        }

        #content {
            width: 100%;
            height: 370px;
            margin: 0 auto;
            color: #FFF;
        }

        #logo {
            width: 100%;
            height: 30px;
            color: black
        }

        #nav {
            width: 100%;
            height: 100px;
        }

        .navimg {
            visibility: hidden
        }
    </style>
</head>
<body class="no-skin">
<div id="main" style="background: white">
    <!-- 头部导航 -->

    <div id="top">
        <div style="height: 5px"></div>
        <div id="logo" style="text-align:right;">
            <div th:style="${userName}!=null? '':'display: none'"><span th:text="${userName}"
                                                                        style="position:relative;right: 3px;bottom:3px;font-size: small">XXXXX</span><img
                    src="/images/u963.png" style="margin-bottom: 5px"><a href="/logout"><span
                    style="position:relative;left:3px;bottom:3px;font-size: small;margin-right: 10px">退出登录</span></a>
            </div>
        </div>
        <div id="nav" style="vertical-align:bottom;display:inline;">
            <img class="inline" style="width: 167px;height: 39px;" src="/images/u73.png"><img
                src="/images/u83.png"><span class="inline"
                                            style="font-family: 微软雅黑;font-weight: bold;color: black;font-size: larger">云开票</span>
            <a href="/center">
                <div class="inline" style="float:right;margin-right:50px;position: relative;">
                    <img src="/images/u75.png" class="navimg" id="memberCentre">
                    <div style="position: absolute;left: 15px;top: 10px;color: black">
                        <span style="font-family: 微软雅黑;font-weight: bold;font-size: medium;"
                              onmouseout="mouseOutBgImg('memberCentre')" onmouseover="mouseOverBgImg('memberCentre')">个人中心</span>
                    </div>
                </div>
            </a>
            <a href="/base/invoice/invoiceinfo/u/tolist">
                <div class="inline" style="float:right;margin-right:50px;position: relative;">
                    <img src="/images/u75.png" class="navimg" id="invoiceMgr">
                    <div style="position: absolute;left: 15px;top: 10px;color: black">
                    <span style="font-family: 微软雅黑;font-weight: bold;font-size: medium;"
                          onmouseout="mouseOutBgImg('invoiceMgr')"
                          onmouseover="mouseOverBgImg('invoiceMgr')">发票管理</span>
                    </div>
                </div>
            </a>
            <a href="/base/invoice/order/orderinfo/u/tolist">
                <div class="inline" style="float:right;margin-right:50px;position: relative;">
                    <img src="/images/u75.png" id="order">
                    <div style="position: absolute;left: 15px;top: 10px;color: black">
                        <span style="font-family: 微软雅黑;font-weight: bold;font-size: medium;">订单仓库</span>
                    </div>
                </div>
            </a>
            <a href="/index">
                <div class="inline" style="float:right;margin-right:50px;position: relative;">
                    <img src="/images/u75.png" class="navimg" id="index">
                    <div style="position: absolute;left: 30px;top: 10px;color: black">
                        <span style="font-family: 微软雅黑;font-weight: bold;font-size: medium;"
                              onmouseout="mouseOutBgImg('index')" onmouseover="mouseOverBgImg('index')">首  页</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <hr width="100%" style="margin-top: 0px; "/>

    <!-- 头部导航 -->

    <div id="content" style="margin-top: 20px;color: black">
        <!-- /section:basics/navbar.layout -->
        <!--<div class="main-container ace-save-state" id="main-container">-->
        <!--<script type="text/javascript">-->
        <!--try{ace.settings.loadState('main-container')}catch(e){}-->
        <!--</script>-->
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">当前位置：<span th:text="${MODULE_NAME}"></span></div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="row">
                        <div class="col-md-4 ">
                            <button id="ALL" class="btn btn-minier btn-white">全部</button>
                        </div>
                        <div class="col-md-4 ">
                            <button id="ALREADY" class="btn btn-minier btn-white">已开票</button>
                        </div>
                        <div class="col-md-4 ">
                            <button id="NOTYET" class="btn btn-minier btn-white">未开票</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 "></div>
                <div class="col-md-5 ">
                    <div class="row">
                        <div class="col-md-2 ">
                            <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#queryModal">查询
                            </button>
                        </div>
                        <div class="col-md-2 ">
                            <button class="btn btn-xs btn-info" id="billingBtn">开票</button>
                        </div>
                        <div class="col-md-2 ">
                            <button class="btn btn-xs btn-info" id="editBtn">修改</button>
                        </div>
                        <div class="col-md-2 ">
                            <button class="btn btn-xs btn-info" id="delBtn">删除</button>
                        </div>
                        <div class="col-md-2 ">
                            <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal">导入</button>
                        </div>
                        <div class="col-md-2 "></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /section:basics/sidebar -->
        <div class="main-content">

            <div class="main-content-inner">

                <!-- /section:basics/content.breadcrumbs -->
                <div class="page-content">


                    <div class="row">
                        <div class="col-xs-12">

                            <table id="grid-table"></table>

                            <div id="grid-pager"></div>

                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->


        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
        <!--</div>&lt;!&ndash; /.main-container &ndash;&gt;-->
    </div>
</div>

<div class="modal fade" id="queryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="queryModalLabel">
                    请输入查询条件
                </h4>
            </div>
            <div class="modal-body" style="margin: 5px">
                <form class="form-inline" id="queryForm">
                    <fieldset>
                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">导入日期从:&ensp;</label>
                                    <input size="16" type="text" name="insertDate" id="datetimeStart"
                                           data-date-format="yyyy-mm-dd" class="form_datetime">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">导入日期到:&ensp;</label>
                                    <input size="16" type="text" name="insertDateEnd" id="datetimeEnd"
                                           data-date-format="yyyy-mm-dd" class="form_datetime">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">&emsp;&emsp;订单号:&ensp;</label>
                                    <input type="text" name="orderNo" class="form-control" placeholder="订单号"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">&emsp;企业税号:&ensp;</label>
                                    <input type="text" name="taxno" class="form-control" placeholder="企业税号"/>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">&emsp;企业名称:&ensp;</label>
                                    <input type="text" name="buyerName" class="form-control" placeholder="企业名称"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">&emsp;订单状态:&ensp;</label>
                                    <input type="text" name="status" class="form-control" placeholder="订单状态"/>
                                </div>
                            </div>
                        </div>


                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" id="btnQuery" class="btn btn-info" data-dismiss="modal">查询</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    订单导入
                </h4>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data">
                    <a href="" class="form-control" style="border:none;">下载导入模板</a>
                    <input type="file" name="txt_file" id="txt_file" class="file-loading"/>
                </form>
                <div class="row">
                    <div class="col-md-4"><span> 订单总数: </span><span id="orderTotal"></span></div>
                    <div class="col-md-4"><span> 导入成功数: </span><span id="orderSuccessQty"></span></div>
                    <div class="col-md-4"><span> 导入失败数: </span><span id="orderFaultQty"></span></div>
                </div>

                <div class="row">
                    <div class="col-md-4"><span> 明细总数: </span><span id="detailTotal"></span></div>
                    <div class="col-md-4"><span> 导入成功数: </span><span id="detailSuccessQty"></span></div>
                    <div class="col-md-4"><span> 导入失败数: </span><span id="detailFaultQty"></span></div>
                </div>

                <div class="row">
                    <div class="col-md-12"><span id="repeatOrderNoDesc"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><span id="orderInfoDesc"></span></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><span id="detailDesc"></span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <!--<button type="button" class="btn btn-primary">-->
                <!--上传-->
                <!--</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="/components/jquery/dist/jquery.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/components/jquery.1x/dist/jquery.js"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='/components/_mod/jquery.mobile.custom/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>
<script src="/components/bootstrap/dist/js/bootstrap.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="/components/ExplorerCanvas/excanvas.js"></script>
<![endif]-->
<script src="/components/_mod/jquery-ui.custom/jquery-ui.custom.js"></script>
<script src="/components/jqueryui-touch-punch/jquery.ui.touch-punch.js"></script>
<script src="/components/bootbox.js/bootbox.js"></script>
<script src="/components/_mod/easypiechart/jquery.easypiechart.js"></script>
<script src="/components/jquery.gritter/js/jquery.gritter.js"></script>
<script src="/components/spin.js/spin.js"></script>

<!-- ace scripts -->
<script src="/assets/js/src/elements.scroller.js"></script>
<script src="/assets/js/src/elements.colorpicker.js"></script>
<script src="/assets/js/src/elements.fileinput.js"></script>
<script src="/assets/js/src/elements.typeahead.js"></script>
<script src="/assets/js/src/elements.wysiwyg.js"></script>
<script src="/assets/js/src/elements.spinner.js"></script>
<script src="/assets/js/src/elements.treeview.js"></script>
<script src="/assets/js/src/elements.wizard.js"></script>
<script src="/assets/js/src/elements.aside.js"></script>
<script src="/assets/js/src/ace.js"></script>
<script src="/assets/js/src/ace.basics.js"></script>
<script src="/assets/js/src/ace.scrolltop.js"></script>
<script src="/assets/js/src/ace.ajax-content.js"></script>
<script src="/assets/js/src/ace.touch-drag.js"></script>
<script src="/assets/js/src/ace.sidebar.js"></script>
<script src="/assets/js/src/ace.sidebar-scroll-1.js"></script>
<script src="/assets/js/src/ace.submenu-hover.js"></script>
<script src="/assets/js/src/ace.widget-box.js"></script>
<script src="/assets/js/src/ace.settings.js"></script>
<script src="/assets/js/src/ace.settings-rtl.js"></script>
<script src="/assets/js/src/ace.settings-skin.js"></script>
<script src="/assets/js/src/ace.widget-on-reload.js"></script>
<script src="/assets/js/src/ace.searchbox-autocomplete.js"></script>


<!-- 自定义JS -->
<link type="text/css" rel="stylesheet" href="/css/bootstrap/fileinput.min.css"/>
<script type="text/javascript" src="/js/bootstrap/fileinput.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/fileinput_locale_zh.js"></script>
<script src="/js/jquery.form.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/jquery.validate.extend.js"></script>
<script src="/js/jquery.serializejson.min.js"></script>
<script src="/js/layer/layer.js"></script>
<script src="/js/base.js"></script>

<!--bootstrap-->
<script src="/js/bootstrap/bootstrap-datetimepicker.min.js"></script>
<script src="/js/bootstrap/bootstrap-datetimepicker.zh-CN.js"></script>


<!-- page specific plugin scripts -->
<script src="/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/components/jqGrid/js/jquery.jqGrid.js"></script>
<script src="/components/jqGrid/js/i18n/grid.locale-cn.js"></script>

<script th:inline="javascript">

    /*
     初始化日期空间
     */
    $("#datetimeStart").datetimepicker({
        format: 'yyyy-mm-dd',
        minView: 'month',
        language: 'zh-CN',
        autoclose: true,
//         startDate:new Date()
    }).on("click", function () {
        $("#datetimeStart").datetimepicker("setEndDate", $("#datetimeEnd").val())
    });
    $("#datetimeEnd").datetimepicker({
        format: 'yyyy-mm-dd',
        minView: 'month',
        language: 'zh-CN',
        autoclose: true,
        startDate: new Date()
    }).on("click", function () {
        $("#datetimeEnd").datetimepicker("setStartDate", $("#datetimeStart").val())
    });


    jQuery(function ($) {
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";

        var parent_column = $(grid_selector).closest('[class*="col-"]');
        //resize to fit page size
        $(window).on('resize.jqGrid', function () {
            $(grid_selector).jqGrid('setGridWidth', parent_column.width());
        })

        //resize on sidebar collapse/expand
        $(document).on('settings.ace.jqGrid', function (ev, event_name, collapsed) {
            if (event_name === 'sidebar_collapsed' || event_name === 'main_container_fixed') {
                //setTimeout is for webkit only to give time for DOM changes and then redraw!!!
                setTimeout(function () {
                    $(grid_selector).jqGrid('setGridWidth', parent_column.width());
                }, 20);
            }
        })

        //if your grid is inside another element, for example a tab pane, you should use its parent's width:
        /**
         $(window).on('resize.jqGrid', function () {
					var parent_width = $(grid_selector).closest('.tab-pane').width();
					$(grid_selector).jqGrid( 'setGridWidth', parent_width );
				})
         //and also set width when tab pane becomes visible
         $('#myTab a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				  if($(e.target).attr('href') == '#mygrid') {
					var parent_width = $(grid_selector).closest('.tab-pane').width();
					$(grid_selector).jqGrid( 'setGridWidth', parent_width );
				  }
				})
         */





        jQuery(grid_selector).jqGrid({
            shrinkToFit: false,
            autoScroll: true,
            subGrid: true,
//            subGridModel: [{
////                name : ['No','Item Name','Qty'], width : [55,200,80]
//                params : ['id'],
//            }],
            //datatype: "xml",
            subGridOptions: {
                plusicon: "ace-icon fa fa-plus center bigger-110 blue",
                minusicon: "ace-icon fa fa-minus center bigger-110 blue",
                openicon: "ace-icon fa fa-chevron-right center orange"
            },
            //for this example we are using local data
            subGridRowExpanded: function (subgridDivId, rowId) {
                var subgridTableId = subgridDivId + "_t";
                var pager_id = "p_" + subgridTableId;
                $("#" + subgridDivId).html("<table id='" + subgridTableId + "'></table><div id='" + pager_id + "'></div>");
                $("#" + subgridTableId).jqGrid({
                    url: "/base/invoice/order/orderdetail/u/listByOrderInfoId?orderInfoId=" + rowId,
                    editurl: [[${UPDATE_URL}]],
                    datatype: 'json',
//                    data: subgrid_data,
                    colNames: [' ', 'id', '订单号', '商品名', '单位', '数量', '规格型号', '含税单价', '发票行性质', '税控分类编码', '税率'],
                    colModel: [
                        {
                            name: 'myac', index: '', width: 80, fixed: true, sortable: false, resize: false,
                            formatter: 'actions',
                            formatoptions: {
                                keys: true,
                                editbutton: true,
                                delbutton: false,
//                        delOptions:{
//                            url:[[${DELETE_URL}]],
//                            recreateForm: true,
//                            beforeShowForm:beforeDeleteCallback,
//                            afterComplete:afterCompleteCallback
//                        },onSuccess : afterCompleteMsg
                            }
                        },
                        {name: 'id', index: 'id', width: 50, editable: false, search: true, hidden: true},
                        {name: 'orderNo', index: 'orderNo', editable: false},
                        {name: 'itemName', index: 'itemName', editable: false,},
                        {name: 'itemUnit', index: 'itemUnit', editable: false},
                        {name: 'itemNum', index: 'itemNum', editable: false},
                        {name: 'specMode', index: 'specMode', editable: false,},
                        {name: 'itemPrice', index: 'itemPrice', editable: false,},
                        {name: 'invoiceNature', index: 'invoiceNature', editable: false,},
                        {name: 'itemTaxCode', index: 'itemTaxCode', editable: false,},
                        {name: 'taxRate', index: 'taxRate', editable: false,},

                    ],
                    jsonReader: {
                        root: "datas",
                        page: "pageAndSort.page",
                        total: "pageAndSort.totalPage",
                        records: "pageAndSort.rowCount",
                        repeatitems: false
                    },
                    prmNames: {
                        page: "pageAndSort.page",    // 表示请求页码的参数名称
                        rows: "pageAndSort.rp",    // 表示请求行数的参数名称
                        sort: "pageAndSort.sortName", // 表示用于排序的列名的参数名称
                        order: "pageAndSort.sortOrder", // 表示采用的排序方式的参数名称
                        search: "_search", // 表示是否是搜索请求的参数名称
//                nd:"nd", // 表示已经发送请求的次数的参数名称
                        id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
                        oper: "oper",    // operation参数名称（我暂时还没用到）
                        editoper: "edit", // 当在edit模式中提交数据时，操作的名称
                        addoper: "add", // 当在add模式中提交数据时，操作的名称
                        deloper: "del", // 当在delete模式中提交数据时，操作的名称
                        subgridid: "id", // 当点击以载入数据到子表时，传递的数据名称
                        npage: null,
//                totalrows:"rowCount" // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
                    },

                    viewrecords: true,
                    rowNum: 10,
                    rowList: [10, 20, 30],
                    pager: pager_id,
                    height: '100%', //自动适应行高
                    width: '100%',
//                            altRows: true,
                    loadComplete: function () {
                        $("#gbox_" + subgridTableId).removeClass("ui-jqgrid").height(350).css("cssText", "position: relative;");
                        var table = this;
                        setTimeout(function () {
                            styleCheckbox(table);
                            updateActionIcons(table);
                            updatePagerIcons(table);
                            enableTooltips(table);
                        }, 0);

                    },
                });
            },
            url: [[${SEARCH_URL}]],
            datatype: "json",
            jsonReader: {
                root: "datas",
                page: "pageAndSort.page",
                total: "pageAndSort.totalPage",
                records: "pageAndSort.rowCount",
                repeatitems: false
            },
            prmNames: {
                page: "pageAndSort.page",    // 表示请求页码的参数名称
                rows: "pageAndSort.rp",    // 表示请求行数的参数名称
                sort: "pageAndSort.sortName", // 表示用于排序的列名的参数名称
                order: "pageAndSort.sortOrder", // 表示采用的排序方式的参数名称
                search: "_search", // 表示是否是搜索请求的参数名称
//                nd:"nd", // 表示已经发送请求的次数的参数名称
                id: "id", // 表示当在编辑数据模块中发送数据时，使用的id的名称
                oper: "oper",    // operation参数名称（我暂时还没用到）
                editoper: "edit", // 当在edit模式中提交数据时，操作的名称
                addoper: "add", // 当在add模式中提交数据时，操作的名称
                deloper: "del", // 当在delete模式中提交数据时，操作的名称
                subgridid: "id", // 当点击以载入数据到子表时，传递的数据名称
                npage: null,
//                totalrows:"rowCount" // 表示需从Server得到总共多少行数据的参数名称，参见jqGrid选项中的rowTotal
            },
            height: 400,
//            '用户昵称','购方类型',
            colNames: [' ', 'id', '订单号', '订单状态', '企业税', '票样代码', '商品名称', '购方税号', '购方名称', '购方地址', '购方省份', '购方固定电话', '购方手机',
                '购方邮箱', '购方账号', '行业代码', '行业名称', '备注'],
            colModel: [
                {
                    name: 'myac', index: '', width: 80, fixed: true, sortable: false, resize: false,
                    formatter: 'actions',
                    formatoptions: {
                        keys: true,
                        editbutton: true,
                        delbutton: false,
                        delbutton: true,
                        delOptions: {
                            url: [[${DELETE_URL}]],
                            recreateForm: true,
                            beforeShowForm: beforeDeleteCallback,
                            afterComplete: afterCompleteCallback
                        }, onSuccess: afterCompleteMsg
                    }
                },

                {name: 'id', index: 'id', editable: false, search: true, hidden: true},
                {name: 'orderNo', index: 'orderNo', editable: false},
                {name: 'status', index: 'status', editable: false,edittype: "select",editoptions: {value: [[${orderInfoStatusParams}]]},formatter: 'select'},
                {name: 'taxno', index: 'taxno', editable: true},
                {name: 'ticketCode', index: 'ticketCode', editable: true},
                {name: 'majorItems', index: 'majorItems', editable: true},
                {name: 'buyerTaxno', index: 'buyerTaxno', editable: true},
                {name: 'buyerName', index: 'buyerName', editable: true},
                {name: 'buyerAddr', index: 'buyerAddr', editable: true},
                {name: 'buyerProvince', index: 'buyerProvince', editable: true},
                {name: 'buyerTele', index: 'buyerTele', editable: true},
                {name: 'buyerMobile', index: 'buyerMobile', editable: true},
                {name: 'buyerEmail', index: 'buyerEmail', editable: true},
                {name: 'buyerBankAcc', index: 'buyerBankAcc', editable: true},
                {name: 'induCode', index: 'induCode', editable: true},
                {name: 'induName', index: 'induName', editable: true},
                {name: 'remarks', index: 'remarks', editable: true},
            ],

            viewrecords: true,
            rowNum: 10,
            rowList: [10, 20, 30],
            pager: pager_selector,
            altRows: true,
            //toppager: true,

            multiselect: false,
            //multikey: "ctrlKey",
            multiboxonly: false,

            loadComplete: function () {
                var table = this;
                setTimeout(function () {
                    styleCheckbox(table);
                    updateActionIcons(table);
                    updatePagerIcons(table);
                    enableTooltips(table);
                }, 0);
            },

            editurl: [[${UPDATE_URL}]],

            /*<![CDATA[*/
            caption: /*[[${MODULE_NAME}]]*/
            /*]]>*/

            //,autowidth: true,


            /**
             ,
             grouping:true,
             groupingView : {
						 groupField : ['name'],
						 groupDataSorted : true,
						 plusicon : 'fa fa-chevron-down bigger-110',
						 minusicon : 'fa fa-chevron-up bigger-110'
					},
             caption: "Grouping"
             */

        });
        $(window).triggerHandler('resize.jqGrid');//trigger window resize to make the grid get the correct size


        //enable search/filter toolbar
        //jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
        //jQuery(grid_selector).filterToolbar({});


        //switch element when editing inline
        function aceSwitch(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=checkbox]')
                    .addClass('ace ace-switch ace-switch-5')
                    .after('<span class="lbl"></span>');
            }, 0);
        }

        //enable datepicker
        function pickDate(cellvalue, options, cell) {
            setTimeout(function () {
                $(cell).find('input[type=text]')
                    .datepicker({format: 'yyyy-mm-dd', autoclose: true});
            }, 0);
        }


        //navButtons
        jQuery(grid_selector).jqGrid('navGrid', pager_selector,
            { 	//navbar options
                edit: true,
                editicon: 'ace-icon fa fa-pencil blue',
                add: true,
                addicon: 'ace-icon fa fa-plus-circle purple',
                del: true,
                delicon: 'ace-icon fa fa-trash-o red',
                search: true,
                searchicon: 'ace-icon fa fa-search orange',
                refresh: true,
                refreshicon: 'ace-icon fa fa-refresh green',
                view: true,
                viewicon: 'ace-icon fa fa-search-plus grey',
            },
            {
                url: [[${UPDATE_URL}]],
                //edit record form
                //closeAfterEdit: true,
                //width: 700,
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterComplete: afterCompleteCallback
            },
            //add options
            {
                url: [[${ADD_URL}]],
                //new record form
                //width: 700,
                closeAfterAdd: true,
                recreateForm: true,
                viewPagerButtons: false,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar')
                        .wrapInner('<div class="widget-header" />')
                    style_edit_form(form);
                },
                afterComplete: afterCompleteCallback
            },
            //delete options
            {
                url: [[${DELETE_URL}]],
                //delete record form
                recreateForm: true,
                beforeShowForm: function (e) {
                    var form = $(e[0]);
                    if (form.data('styled')) return false;

                    form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
                    style_delete_form(form);

                    form.data('styled', true);
                },
                afterComplete: afterCompleteCallback,
                onClick: function (e) {
//                    alert(1);
                }
            },
            //search
            {
                url: [[${SEARCH_URL}]],
                //search form
                recreateForm: true,
                afterShowSearch: function (e) {
                    var form = $(e[0]);
                    form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
                    style_search_form(form);
                },
                afterRedraw: function () {
                    style_search_filters($(this));
                },
                multipleSearch: true,
//                multipleGroup:true,
//                showQuery: true
                /**
                 multipleGroup:true,
                 showQuery: true
                 */
            }
        )


        function style_edit_form(form) {
            //enable datepicker on "sdate" field and switches for "stock" field
            form.find('input[name=sdate]').datepicker({format: 'yyyy-mm-dd', autoclose: true})

            form.find('input[name=stock]').addClass('ace ace-switch ace-switch-5').after('<span class="lbl"></span>');
            //don't wrap inside a label element, the checkbox value won't be submitted (POST'ed)
            //.addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');


            //update buttons classes
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-primary').prepend('<i class="ace-icon fa fa-check"></i>');
            buttons.eq(1).prepend('<i class="ace-icon fa fa-times"></i>')

            buttons = form.next().find('.navButton a');
            buttons.find('.ui-icon').hide();
            buttons.eq(0).append('<i class="ace-icon fa fa-chevron-left"></i>');
            buttons.eq(1).append('<i class="ace-icon fa fa-chevron-right"></i>');
        }

        function style_delete_form(form) {
            var buttons = form.next().find('.EditButton .fm-button');
            buttons.addClass('btn btn-sm btn-white btn-round').find('[class*="-icon"]').hide();//ui-icon, s-icon
            buttons.eq(0).addClass('btn-danger').prepend('<i class="ace-icon fa fa-trash-o"></i>');
            buttons.eq(1).addClass('btn-default').prepend('<i class="ace-icon fa fa-times"></i>')
        }

        function style_search_filters(form) {
            form.find('.delete-rule').val('X');
            form.find('.add-rule').addClass('btn btn-xs btn-primary');
            form.find('.add-group').addClass('btn btn-xs btn-success');
            form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }

        function style_search_form(form) {
            var dialog = form.closest('.ui-jqdialog');
            var buttons = dialog.find('.EditTable')
            buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'ace-icon fa fa-retweet');
            buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'ace-icon fa fa-comment-o');
            buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'ace-icon fa fa-search');
        }

        function beforeDeleteCallback(e) {
            var form = $(e[0]);
            if (form.data('styled')) return false;

            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_delete_form(form);

            form.data('styled', true);
        }

        function beforeEditCallback(e) {
            var form = $(e[0]);
            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            style_edit_form(form);
        }


        //it causes some flicker when reloading or navigating grid
        //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
        //or go back to default browser checkbox styles for the grid
        function styleCheckbox(table) {
            /**
             $(table).find('input:checkbox').addClass('ace')
             .wrap('<label />')
             .after('<span class="lbl align-top" />')


             $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
             .find('input.cbox[type=checkbox]').addClass('ace')
             .wrap('<label />').after('<span class="lbl align-top" />');
             */
        }


        //unlike navButtons icons, action icons in rows seem to be hard-coded
        //you can change them like this in here if you want
        function updateActionIcons(table) {
            /**
             var replacement =
             {
                 'ui-ace-icon fa fa-pencil' : 'ace-icon fa fa-pencil blue',
                 'ui-ace-icon fa fa-trash-o' : 'ace-icon fa fa-trash-o red',
                 'ui-icon-disk' : 'ace-icon fa fa-check green',
                 'ui-icon-cancel' : 'ace-icon fa fa-times red'
             };
             $(table).find('.ui-pg-div span.ui-icon').each(function(){
						var icon = $(this);
						var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
						if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
					})
             */
        }

        //replace icons with FontAwesome icons like above
        function updatePagerIcons(table) {
            var replacement =
                {
                    'ui-icon-seek-first': 'ace-icon fa fa-angle-double-left bigger-140',
                    'ui-icon-seek-prev': 'ace-icon fa fa-angle-left bigger-140',
                    'ui-icon-seek-next': 'ace-icon fa fa-angle-right bigger-140',
                    'ui-icon-seek-end': 'ace-icon fa fa-angle-double-right bigger-140'
                };
            $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function () {
                var icon = $(this);
                var $class = $.trim(icon.attr('class').replace('ui-icon', ''));

                if ($class in replacement) icon.attr('class', 'ui-icon ' + replacement[$class]);
            })
        }

        function enableTooltips(table) {
            $('.navtable .ui-pg-button').tooltip({container: 'body'});
            $(table).find('.ui-pg-div').tooltip({container: 'body'});
        }


        /**
         * 自定义请求完成后处理事件
         * @param data
         */
        function afterCompleteCallback(data) {
            afterCompleteMsg(data)
        }

        //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');

        $(document).one('ajaxloadstart.page', function (e) {
            $.jgrid.gridDestroy(grid_selector);
            $('.ui-jqdialog').remove();
        });

        $(grid_selector).closest(".ui-jqgrid-bdiv").css({'overflow-x': 'scroll'});
    });


    function mouseOverBgImg(objId) {
        $('#' + objId).removeClass("navimg");
    }

    function mouseOutBgImg(objId) {
        $('#' + objId).addClass("navimg");
    }


    $(function () {
        //0.初始化fileinput
        var oFileInput = new FileInput();
        oFileInput.Init("txt_file", "/base/invoice/order/orderinfo/u/upload");
    });

    //初始化fileinput
    var FileInput = function () {
        var oFile = new Object();

        //初始化fileinput控件（第一次初始化）
        oFile.Init = function (ctrlName, uploadUrl) {
            var control = $('#' + ctrlName);

            //初始化上传控件的样式
            control.fileinput({
                language: 'zh', //设置语言
                uploadUrl: uploadUrl, //上传的地址
                allowedFileExtensions: ['xls', 'xlsx'],//接收的文件后缀
                showUpload: true, //是否显示上传按钮
                showCaption: true,//是否显示标题
                showPreview: false,
                browseClass: "btn btn-primary", //按钮样式
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            });

            //导入文件上传完成之后的事件
            $("#txt_file").on("fileuploaded", function (event, data, previewId, index) {
                console.log(event);
                console.log(data);
                console.log(previewId);
                console.log(index);

                $("#orderTotal").html(data.response.datas.orderInfoTotal);

                $("#orderSuccessQty").html(data.response.datas.orderInfoSuccessQty);
                $("#orderFaultQty").html(data.response.datas.orderInfofaultQty);

                $("#detailTotal").html(data.response.datas.detailTotal);

                $("#detailSuccessQty").html(data.response.datas.detailSuccessQty);

                $("#detailFaultQty").html(data.response.datas.detailFaultQty);

                $("#repeatOrderNoDesc").html(data.response.datas.repeatOrderNoDesc);

                $("#orderInfoDesc").html(data.response.datas.orderInfoDesc);

                $("#detailDesc").html(data.response.datas.detailDesc);

                $('#grid-table').trigger("reloadGrid");
            });
        }
        return oFile;
    };


    /**
     * 查询全部
     */
    $('#ALL').click(function () {
        $("#grid-table").jqGrid('setGridParam', {search: true, postData: {filters: null}}).trigger("reloadGrid");
    });

    /**
     * 查询所有未开票
     */
    $('#NOTYET').click(function () {
        //串联好filtersStr字符串
        var filtersStr = '{"groupOp":"AND","rules":[{"field":"status","op":"eq","data":"0"}]}';
        var postData = $("#grid-table").jqGrid("getGridParam", "postData");
        //将filters参数串加入postData选项
        $.extend(postData, {filters: filtersStr});
        $("#grid-table").jqGrid('setGridParam', {search: true}).trigger("reloadGrid");
    });

    /**
     * 查询所有已开票
     */
    $('#ALREADY').click(function () {
        //(7)串联好filtersStr字符串
        var filtersStr = '{"groupOp":"AND","rules":[{"field":"status","op":"eq","data":"1"}]}';
        var postData = $("#grid-table").jqGrid("getGridParam", "postData");
        //(8)将filters参数串加入postData选项
        $.extend(postData, {filters: filtersStr});
        $("#grid-table").jqGrid('setGridParam', {search: true}).trigger("reloadGrid");
    });


    $('#btnQuery').click(function () {
        var formData = $('#queryForm').serializeJSON();
        var rulesStr = '{"field":"insertDate","op":"gt","data":"' + formData.insertDate + '"},{"field":"insertDate","op":"lt","data":"' + formData.insertDateEnd + '"}';
        $.each(formData, function (k, v) {
            if (k != "insertDate" && k != "insertDateEnd")
                rulesStr += ',{"field":"' + k + '","op":"eq","data":"' + v + '"}'
        });
        var filtersStr = '{"groupOp":"AND","rules":[' + rulesStr + ']}';
        var postData = $("#grid-table").jqGrid("getGridParam", "postData");
        $.extend(postData, {filters: filtersStr});
        $("#grid-table").jqGrid('setGridParam', {search: true}).trigger("reloadGrid");
        console.log(filtersStr)
    });

    /**
     * 自定义的修改按钮
     */
    $('#editBtn').click(function () {
        $('#edit_grid-table').click();
    });

    /**
     * 自定义的删除按钮
     */
    $('#delBtn').click(function () {
        $('#del_grid-table').click();
    });

    $('#billingBtn').click(function(){
        var sel_id = $('#grid-table').jqGrid('getGridParam', 'selrow');
        if(sel_id == undefined || sel_id==null){
            layerAlertMsg('请选择开票行!');
        }
        $.post("/base/invoice/invoiceinfo/u/billing", 'orderId='+sel_id,function(result) {
            layerAlertMsg(result.message);
            $('#grid-table').trigger("reloadGrid");
        },"json");
    });

</script>

<!-- the following scripts are used in demo only for onpage help and you don't need them -->
<link rel="stylesheet" href="/assets/css/ace.onpage-help.css"/>

<script type="text/javascript"> ace.vars['base'] = '..'; </script>
<script src="/assets/js/src/elements.onpage-help.js"></script>
<script src="/assets/js/src/ace.onpage-help.js"></script>


</body>
</html>